h2{
    text-align:center;
    color:rgb(15, 98, 126);
    letter-spacing: 5px;
    font-weight:600;
    font-family:fantasy;
    
    font-size:xx-large;
    text-decoration: underline;
    border-width: 2px;
    border-style: solid;
    border-color:cadetblue;
    background-color:#FFDEDE;
    border-radius: 50px;
    box-shadow: 3px 3px 10px #9BCDD2;
}


body{
    /* background-image: url(try.jpg); */
/*     background-color: #FAF0E4; */
    background: 
    linear-gradient(to right, #7F7FD5 , #91EAE4);
    
    
}
a{
    text-decoration: none;
    color:rgb(16, 62, 154)
}


h3:hover{
    font-style: oblique;
}

.h3{
    border-width:"2px";
    border-style:dashed;
    border-color:darkslategray;
    background-color:#9BCDD2;
    transition:0.8s;
    color:rgb(15, 98, 126);
    
}
p{
    color:rgb(15, 98, 126);
}

.point {
    color:rgb(15, 98, 126);
}

div{
    height: 200px;
    width:900px;
    background-color:#fa8959;
    transition:1s;
    margin:0 auto;
    
}
div:hover{
    background-color:#9BCDD2;
    border-radius:100px;
}
h3:hover{
    background-color:#FF8551;
    border-radius:100px;
    color:aliceblue;
}

h4{
    color:rgb(15, 98, 126);
}

img{
    position:relative;
    left:480px;
    border-radius: 50%;
    box-shadow:2px 2px 10px #9BCDD2;
}
